body{
    margin-left: auto;
    margin-right: auto;
	padding:10px;
	width:960px;
}

table,th,td{
	border:1px solid #000000;
	border-collapse:collapse
}

.content{
	clear:both;
	float:none;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	padding:10px
}

.scph{
	border:1px solid;
	border-radius:5px;
	display:block;
    clear: right;
	float:right;
	margin:2px;
	padding:2px;
	width:20%
}

.sgi{
	border:1px solid;
	border-radius:5px;
	display:block;
    clear: left;
	float:left;
	margin:2px;
	padding:2px;
	width:70%
}

.sgph{
	border:1px solid;
	border-radius:5px;
	clear:both;
	margin:2px;
	padding:2px;
	width:100%;
    display: block;
}

.si{
	border:1px solid;
	border-radius:5px;
	clear:both;
	margin:2px;
	padding:2px;
	width:100%
}

.sti{
	border:1px solid;
	border-radius:5px;
	clear:both;
	margin:2px;
	padding:2px;
	width:100%
}

.stph{
	clear:both;
    display: block;
}

#footer{
	clear:both;
	margin-left:auto;
	margin-right:auto;
	padding:10px
}

#modal{
	background-color:#FFFFFF;
	height:50%;
	left:15%;
	margin-left:auto;
	margin-right:auto;
	position:fixed;
	top:25%;
	width:70%;
	z-index:101
}

#priv{
	background-color:#FFFFFF
}

#satis_design{
	clear:both
}

#shade{
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:100
}

#shade{
	background:silver;
	filter: alpha(opacity=50);
	opacity:0.9
}

#shade,#modal{
	display:none
}

#si_container{
	height:100%;
	overflow:scroll;
	width:100%
}

tr:nth-child(even){
	background-color:#CCCCCC
}